@page "/room/{roomId}"
@using PartyPlaylists.Services
@using DataModel = PartyPlaylists.Models.DataModels
@using PartyPlaylists.BlazorWeb.Pages.Room.Components
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@inject RoomDataStore RoomDataStore


<h2>@room?.Name</h2>
<h3>@room?.Owner</h3>

<SongList Room="@room" />
<br />
<br />
<AddSongToRoom @bind-Room="@room" />
<br />
<br />
<br />
<SpotifyAuthentication Room="@room" />

@code {
    [Parameter] public string roomId { get; set; }

    private DataModel.Room room;

    protected override async Task OnInitializedAsync()
    {
        room = await RoomDataStore.GetItemAsync(roomId);
    }
}
