@page "/room/{roomId}"
@using PartyPlaylists.Services
@using DataModel = PartyPlaylists.Models.DataModels
@using PartyPlaylists.BlazorWeb.Pages.Room.Components
@using Microsoft.AspNetCore.Authorization;
@using PartyPlaylists.Contexts;

@attribute [Authorize]

@inject RefreshService RefreshService
@inject PlaylistContext PlaylistContext;

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h2>@room?.Name</h2>
            <h4>Created by: @room?.Owner</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md">
            <SongList Room="@room" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" >
            <AddSongToRoom @bind-Room="@room" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <SpotifyAuthentication Room="@room" />
            <SpotifyWebPlayer Room="@room" />
        </div>
    </div>
</div>


@code {
    [Parameter] public string roomId { get; set; }

    private DataModel.Room room;

    protected override async Task OnInitializedAsync()
    {
        var roomDataStore = new RoomDataStore(PlaylistContext);
        room = await roomDataStore.GetItemAsync(roomId);
        RefreshService.RefreshRequested += Refresh;
    }

    private void Refresh()
    {
        base.StateHasChanged();
    }
}
