@page "/room/{roomId}"
@using PartyPlaylists.Services
@using DataModel = PartyPlaylists.Models.DataModels
@using PartyPlaylists.BlazorWeb.Pages.Room.Components
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@inject RoomDataStore RoomDataStore
@inject RefreshService RefreshService

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h2>@room?.Name</h2>
            <h4>Created by: @room?.Owner</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md">
            <SongList Room="@room" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" >
            <AddSongToRoom @bind-Room="@room" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <SpotifyAuthentication Room="@room" />
        </div>
    </div>
</div>


@code {
    [Parameter] public string roomId { get; set; }

    private DataModel.Room room;

    protected override async Task OnInitializedAsync()
    {
        room = await RoomDataStore.GetItemAsync(roomId);
        RefreshService.RefreshRequested += Refresh;
    }

    private void Refresh()
    {
        base.StateHasChanged();
    }
}
