@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject UserAccountsService UserAccountsService
@inject RoomDataStore RoomDataStore

@using SpotifyApi.NetCore;
@using Microsoft.Extensions.Configuration;
@using PartyPlaylists.Services;

<button @onclick="RedirectToSpotify">Authenticate</button>

@code {
    [Parameter] public PartyPlaylists.Models.DataModels.Room Room { get; set; }

    private IConfiguration _configuration;

    public void RedirectToSpotify()
    {
        var stateCode = Room.Id.ToString();
        string url = UserAccountsService.AuthorizeUrl(stateCode, new[] { "user-read-playback-state" });

        var client = new HttpClient();
        NavigationManager.NavigateTo($"{url}&show_dialog=true");
    }
}
