@model List<PartyPlaylists.Models.DataModels.RoomSong>
<table>
    @if (Model != null && Model.ToList().Count > 0)
    {
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Playlist Rating</th>
            <th>Added By</th>
        </tr>
        @foreach (var roomSong in Model)
        {
            <tr>
                <td>@roomSong.Song.Artist</td>
                <td>@roomSong.Song.Name</td>
                <td>@roomSong.SongRating</td>
                <td>Ahh</td>
            </tr>
        }
    }
</table>
