@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Room" asp-action="Create" method="post">
    <label>Owner Name:</label>
    <br>
    <input type="text" name="Owner" value="">
    <br />
    <label>Room Name:</label>
    <br>
    <input type="text" name="Name" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>
<br />
<br />
<form asp-controller="Room" asp-action="Join" method="get">
    <label>Room ID:</label>
    <br>
    <input type="text" name="id" value="0">
    <br><br>
    <input type="submit" value="Submit">
</form>