@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-3">
        <div class="card">
            <a class="nostyle" data-toggle="collapse" href="#joinRoomCardBody">
                <div class="card-header">
                    Join a room
                </div>
            </a>
            <div class="card-body collapse" id="joinRoomCardBody">
                <form method="get" asp-controller="Home" asp-action="JoinRoom">
                    <label>Enter a room ID: </label>
                    <input asp-for="@Model.RoomToJoin" />
                    <br />
                    <button class="btn btn-sm btn-primary">Join Room</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <a class="nostyle" data-toggle="collapse" href="#createRoomCardBody">
                <div class="card-header">
                    Create a room
                </div>
            </a>
            <div class="card-body collapse" id="createRoomCardBody">
                <form method="post" asp-controller="Home" asp-action="CreateRoom">
                    <label>Enter a room name: </label>
                    <input asp-for="@Model.NewRoomName" />
                    <br />
                    <button class="btn btn-sm btn-primary">Create Room</button>
                </form>
            </div>
        </div>
    </div>
</div>
