@using PartyPlaylists.Models.DataModels
@using PartyPlaylists.Services
@using SpotifyApi.NetCore
@inject RoomDataStore RoomDataStore
@inject SpotifyService Spotify

<EditForm Model="@song" OnValidSubmit="@AddSong">
    <label>Song Name</label>
    <br />
    <InputText @bind-Value="@song.Name" />
    <button type="submit">Add song</button>
</EditForm>

@code {
    [Parameter] public Room Room { get; set; }
    [Parameter] public EventCallback<Room> RoomChanged { get; set; }

    private Song song = new Song();

    private async Task AddSong()
    {
        song = await Spotify.GetSong(song.Name);
        if (song != null)
        {
            await RoomDataStore.AddSongToRoomAsync(Room.Id.ToString(), song);
            Room = await RoomDataStore.GetItemAsync(Room.Id.ToString());
            await RoomChanged.InvokeAsync(Room);
            await Spotify.GetUserId(Room.SpotifyAuthorization);
        }
    }
}
