@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject UserAccountsService UserAccountsService
@inject IJSRuntime  JSRuntime
@inject SpotifyService SpotifyService

@using SpotifyApi.NetCore.Authorization;
@using Microsoft.Extensions.Configuration;
@using PartyPlaylists.Services;

@if (Room != null)
{
    @if (Room.IsSpotifyEnabled)
    {
        <button @onclick="AddWebPlayer">Add Web Player</button>
        <button @onclick="StartPlaylist">Play</button>
    }
}

@code {
    [Parameter] public PartyPlaylists.Models.DataModels.Room Room { get; set; }

    public async Task AddWebPlayer()
    {
        await JSRuntime.InvokeVoidAsync("SpotifyPlayer.InitPlayer", SpotifyService.AuthToken, Room.Owner);
    }

    public async Task StartPlaylist()
    {

    }
}
