@model RoomVM

<a asp-action="Index" asp-controller="Home">asdsd</a>
<table class="table">
    @if (Model?.CurrentRoom != null && Model?.CurrentRoom?.RoomSongs?.ToList().Count > 0)
    {
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Title</th>
        <th scope="col">Playlist Rating</th>
        <th scope="col">Added By</th>
        <th scope="col">Add Vote</th>
    </tr>
        @foreach (var roomSong in Model.CurrentRoom.RoomSongs.OrderByDescending(s => s.SongRating))
        {
            <tr>
                <td>@roomSong.Song.Artist</td>
                <td>@roomSong.Song.Name</td>
                <td>@roomSong.SongRating</td>
                <td>@roomSong.SongAddedBy</td>
                <td></td>
            </tr>
        }
    }
</table>